<article id="comment-<%=comment.id%>" class="comment clearfix row <% if comment.author == "Davi Ferreira" %> owner<% end %><% if not comment.comment_id.nil? and comment.comment_id > 0 %> reply<% end %>">
  <div class="metadata span1<% if not comment.comment_id.nil? and comment.comment_id > 0 %> offset1<% end %>">
    <div class="image-wrap"><%= gravatar_for comment %></div>
  </div>
  <div class="body <% if not comment.comment_id.nil? and comment.comment_id > 0 %>span6<% else %>span7<% end %>">
    <time datetime="<%= comment.created_at %>" pubdate><%= l comment.created_at %></time>
    <p><strong><% if comment.url != "" %><%= link_to comment.author, check_for_http(comment.url) %><% else %><%= comment.author %><% end %></strong></p>
    <p><%= sanitize_preserving_code comment.body %></p>
    <% unless @post.block_comments %>
    <p class="reply"><%= link_to(t(:reply), reply_comment_path(comment), :id => "lnk-reply-#{comment.id}", :rel => "nofollow") %></p>
    <% end %>
  </div>
</article>

  
<% unless comment.comments.empty? %>
  <% comment.comments.each do |reply| %>
    <%= render reply %>
  <% end %>
<% end %>
