<%= form_for(@post.comments.build, :remote => true, :html => { :id => id, :class => "new_comment" } ) do |f| %>
  <%= f.hidden_field :post_id, {:value => @post.id} %>
  <%= f.hidden_field :comment_id, {:value => @comment.id } %>
	<p>
    <%= f.label :author %>
		<%= f.text_field :author %>
	</p>
	<p>
    <%= f.label :email %><small>(<%= t :email_privacy %>)</small>
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :url %>
		<%= f.text_field :url %>
	</p>
	<p>
    <%= f.label :body %><small>(<strong><%= t :allowed_tags %>:</strong> &lt;strong&gt; &lt;em&gt; &lt;code&gt; &lt;a&gt;)</small>
		<%= f.text_area :body %>
	</p>
	<p class="action">
		<%= f.submit(t :submit_comment)%>
	</p>
<% end %>
