<%= form_for(@post.comments.build, :remote => true, :html => { :id => id, :class => "new_comment form-horizontal" } ) do |f| %>
  <%= f.hidden_field :post_id, {:value => @post.id} %>
  <%= f.hidden_field :comment_id, {:value => @comment.id } %>
	<div class="control-group">
    <%= f.label :author, :class => "control-label" %>
    <div class="controls">
		  <%= f.text_field :author, :class => "input-xlarge" %>
    </div>
	</div>
	<div class="control-group">
    <%= f.label :email, :class => "control-label" %>
    <div class="controls">
		  <%= f.text_field :email, :class => "input-xlarge" %>
      <span class="help-inline">(<%= t :email_privacy %>)</span>
    </div>
	</div>
	<div class="control-group">
		<%= f.label :url, :class => "control-label" %>
    <div class="controls">
		  <%= f.text_field :url, :class => "input-xlarge" %>
    </div>
	</div>
	<div class="control-group">
    <%= f.label :body, :class => "control-label" %>
    <div class="controls">
		  <%= f.text_area :body, :class => "input-xlarge" %>
      <span class="help-inline">(<strong><%= t :allowed_tags %>:</strong> &lt;strong&gt; &lt;em&gt; &lt;code&gt; &lt;a&gt;)</span>
    </div>
	</div>
	<div class="form-actions">
		<%= f.submit t(:submit_comment), :class => "btn btn-danger" %>
	</div>
<% end %>