<div id="projects-container">
  <div id="projects" class="clearfix" data-page="<%=(@projects.count/6)%>">
    <% if @projects.empty? %>
      <div class="no-results">
          <p>Nenhum projeto encontrado com o termo "<%= @search %>" :-(</p>
      </div>
    <% else %>
      <%= render 'projects' %>
      <div class="pagination-container" data-category="<%= params[:category] %>" data-tag="<%= params[:tag] %>">
        <%= will_paginate @projects %>
      </div>
    <% end %>
  </div>
</div>
