<div id="project-info" class="shadow round-small">
  <div class="project round-small clearfix">
    
    <div class="breadcrumb clearfix">
      <%if @project.url %>
      <span>
       <%= link_to @project.url, @project.url, :rel => "external" %>
      </span>
      <% end %>
      <ul>
        <li><%= link_to "projetos", root_path %></li>
        <li class="separator">/</li>
        <li class="active"><%= link_to @project.name.downcase, project_path(@project) %></li>
      </ul>
    </div>
    
    <div id="project-details" class="clearfix">
      
      
    
      <div class="gallery round-small">
        <%= image_tag @project.screenshot.url(:medium), :alt => @project.name, :width => 296 %>
        <% unless @project.photos.empty? %>
        <div id="screenshots">
          <ul class="clearfix">
          <% @project.photos.each do |photo| %>
            <li class="round-small<% if @project.photos.first == photo %> first<% elsif @project.photos.last == photo %> last<% end %>"><%= link_to image_tag(photo.photo.url(:thumb), :alt => photo.title),  photo.photo.url(:original), :rel => "screnshots", :title => photo.title %></li>
          <% end %>
          </ul>
        </div>
        <% end %>
      </div>
    
      <div class="meta-data">
        <h2><%= @project.name %></h2>
        
        <p>
        <%= @project.description %>
        </p>



        <p>
          <strong>Publicado há <%= time_ago_in_words(@project.due_date) %>.</strong>
        </p>
        
        <%if @project.url %>
        <p><strong>URL</strong><br />
         <%= link_to @project.url, @project.url, :rel => "external" %>
        </p>
        <% end %>

        <p>
          <strong>Categoria</strong><br />
          <%= link_to @project.category.name, "/projects/category/" + @project.category.cached_slug %>
        </p>
        <p class="tags"><strong>Tags</strong><br /><%= tags_as_links(@project.tags) %></p>
        
        <% unless @related.empty? %>
        <div class="related-projects">
          <h3>Projetos relacionados</h3>
          <ul>
            <% @related.each do |project| %>
              <li><%= link_to project.name, project_path(project) %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        
        <p class="more-details"><%= link_to "Voltar", root_path %></p>
    
      </div>
      
    </div>
  </div>
</div>