<div id="project-info" class="shadow round-small">
  <div class="project round-small">
    
    <ul id="breadcrumb">
      <li><%= link_to "projetos", root_path %></li>
      <li class="separator">/</li>
      <li><%= link_to @project.name.downcase, project_path(@project) %></li>
    </ul>
    
    <h2><%= @project.name %></h2>
    
    <%= image_tag @project.screenshot.url(:medium), :alt => @project.name %>
    <% unless @project.photos.empty? %>
    <div id="screenshots">
      <% @project.photos.each do |photo| %>
        <%= link_to image_tag(photo.photo.url(:thumb), :alt => photo.title),  photo.photo.url(:original), :rel => "screnshots", :title => photo.title %>
      <% end %>
    </div>
    <% end %>
    
    <p class="description">
      <%= @project.description %>
    </p>

    <p>
      <b>Url:</b>
      <%= link_to @project.url, @project.url, :rel => "external" %>
    </p>


    <p>
      Publicado hรก <%= time_ago_in_words(@project.due_date) %>
    </p>

    <p>
      <b>Category:</b>
      <%= link_to @project.category.name, "/projects/category/" + @project.category.cached_slug %>
    </p>
    <p><strong>Tags: </strong><%= tags_as_links(@project.tags) %></p>

    <%= link_to 'Edit', edit_project_path(@project) %> |
    <%= link_to 'Back', projects_path %>
  </div>
</div>