<%= form_for @post, :url => url , :html => {:class => "minimal"} do |f| %>

  <%= render 'admin/shared/error_messages', :object => f.object %>

  <%= f.hidden_field :published %>

  <fieldset>
    <%= f.label "URL do post no Tableless" %>
    <%= f.text_field :tableless, :placeholder => "URL do post no Tableless" %>
  </fieldset>

  <fieldset class="categories">
    <% @categories.each do |category| %>
      <% if @post.categories and @post.categories.include?(category) %>
        <% checked = true %>
      <% else %>
        <% checked = false %>
      <% end %>
      <label><%= check_box_tag "categories[]", category.id, checked %> <%= category.name %></label>
    <% end %>  
  </fieldset>



    <fieldset>
    <%= f.label :published_date %>
    <%= f.datetime_select :published_date %>
  </fieldset>

  <fieldset>
    <%= f.label :title %>
    <%= f.text_area :title, :placeholder => "Title goes here" %>
  </fieldset>


  <fieldset>
    <%= f.label :abstract %>
    <%= f.text_area :abstract, :placeholder => "Intro goes here" %>
  </fieldset>

  <fieldset>
    <%= f.label :body %>
    <%= f.text_area :body, :placeholder => "Write your text here" %>
  </fieldset>

<!--
  <fieldset>
    <%= f.label "Publicar?" %>
    <%= f.check_box :published %>
  </fieldset>
  
  <fieldset>
    <%= f.radio_button :locale, 'pt-BR', :checked => true %> 
    <%= f.label "locale_pt-br", "Português" %>
  </fieldset>
  
  <fieldset>
    <%= f.radio_button :locale, 'en' %> 
    <%= f.label :locale_en, "Inglês" %>
  </fieldset>
  
  <fieldset>
    <%= f.label "Bloquear comentários?" %>
    <%= f.check_box :block_comments %>
  </fieldset>
  
  <fieldset>
    <%= f.label :meta_title %>
    <%= f.text_field :meta_title %>
  </fieldset>
  
  <fieldset>
    <%= f.label :meta_description %>
    <%= f.text_area :meta_description %>
  </fieldset>
  
  <fieldset>
    <%= f.label :tags %>
    <%= f.text_field :tags %>
  </fieldset>
  
  -->
  <footer>
    <div class="actions">
      <%= f.submit "Salvar", :class => "btn" %>
      <% if @post.published? %>
        <button class="btn" id="btn-unpublish">Despublicar</button>
      <% else %>
        <button class="btn" id="btn-publish">Publicar</button>
      <% end %>
      <button class="btn btn-preview" id="btn-preview">Preview</button>
      <button class="btn btn-preview" id="btn-close-preview" style="display:none;">Editar</button>
    </div>
  </footer>

<% end %>

<script>
var converter = new Showdown.converter(),
    html = '';
$('textarea').elastic();
$('#btn-preview').click(function (e) {
  e.preventDefault();
  if ($('#preview').length === 0) {
    $('.module_content').append('<article id="preview" class="post" style="display:none;" />');
  }
  html = converter.makeHtml($('#post_body').val());
  $('#btn-close-preview').show();
  $(this).hide();
  $('#post_body').hide();
  $('#preview').html(html).show();
});
$('#btn-close-preview').click(function (e) {
  e.preventDefault();
  $(this).hide();
  $('#btn-preview').show();
  $('#preview').hide();
  $('#post_body').show();
});
$('#btn-publish').click(function (e) {
  e.preventDefault();
  $('#post_published').val(1);
  $('.module_content').find('form:first').submit();
});
$('#btn-unpublish').click(function (e) {
  e.preventDefault();
  $('#post_published').val(0);
  $('.module_content').find('form:first').submit();
});
</script>
