<div class="container">    
  <div class="row">
    <div class="span12">
      <header>
        <h1>daviferreira.com/blog</h1>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <%= render "layouts/blog_about" %>
    </div>
    <div class="span8 offset1">
      <section id="posts">
        <ul>
          <% @posts.each do |post| %>
          <li class="clearfix">
            <time datetime="<%= post.published_date.to_s[0..9] %>"><%= l post.published_date %></time>
            <% if from_tableless(post) %><i class="icon-share icon-large"></i><% end %> <a href="<%= post_url(post) %>"<% if from_tableless(post) %> target="_blank"<% end %>><%= post.title %></a>
          </li>
          <% end %>
        </ul>
      </section>
    </div>
  </div>

</div>