<div id="posts">

  <% @posts.each do |post| %>
  <div class="post-abstract">
    <h2><%= link_to post.title, post_path(post) %></h2>
    <p class="time-ago">Publicado hรก <%= time_ago_in_words(post.published_date) %></p>
    <p class="abstract"><%= post.abstract %></p>
    <p class="actions">
      <%= total_comments_in_words(post.comments.length) %>
      <span><%= link_to "Continue lendo", post_path(post) %></span>
    </p>
  </div>
  <% end %>
  
</div>