<section id="posts_index" class="container_12">

  <% @posts.each do |post| %>
  <article class="clearfix">
    <aside class="grid_4">
      <time datetime="<%= post.published_date %>" pubtime><em>/</em><%= l post.published_date, :format => '%d de %B de %Y' %></time>
      <% if not from_tableless(post) and (not post.block_comments or not post.comments.published.empty?) %>
        <div class="comments">
          <em>+</em><%= link_to total_comments_in_words(post.comments.published.length), post_path(post) + '#comments' %>
        </div>
      <% end %>
      <% if from_tableless(post) %><p><span class="label tableless">Tableless</span></p><% end %>
    </aside>
    <section class="grid_8">
      <a href="<%= post_url(post) %>">
    	  <header>
          <h2><%= post.title %></h2>
        </header>
        <p><%= post.abstract %></p>
      </a>
    </section>
  </article>
  <% end %>
  
</section>
