 <article class="single">
            
    <header>
      <h1><a href="<%= post_url(@post) %>"><%= @post.title %></a></h1>
    </header>

    <div class="info">
      <ul class="clearfix">
        <li><time datetime="<%= @post.published_date.to_s[0..9] %>"><%= l @post.published_date %></time></li>
        <% if not from_tableless(@post) and not @post.block_comments %>
        <li><i class="icon-comment"></i> <%= link_to total_comments_in_words(@post.comments.published.length), post_path(@post) + '#comments' %></li>
        <% end %>
        <li><i class="icon-tags"></i> tagged under <a href="#">javascript</a>, <a href="#">tableless</a></li>
      </ul>
    </div>

    <%= raw(@post.body) %>

</article>

<section id="comments" class="comments">
  <% if not @post.block_comments or not @post.comments.published.empty? %>
  <header>
    <h2><%= total_comments_in_words(@post.comments.published.length) %></h2>    
  </header>
  <% end %>
    
  <% unless @post.comments.published.empty? %>
      <% @post.comments.published.each do |comment| %>
        <%= render comment if comment.comment_id.nil? or comment.comment_id == 0 %>
      <% end %>
  <% end %>
</section>

<% if not @post.block_comments %>
<section id="comments-form" class="comments clearfix">
	<header>
    <h2 id="tit-form-comment"><%= t :leave_your_comment %>:</h2>
	</header>
  <%= render "comments/form", :id => "new_comment" %>
</section>
<% end %>
