 <div class="container">
            
    <header>
      <div class="row">
        <div class="span12">
          <h1><%= @post.title %></h1>
        </div>
      </div>
    </header>

    <article id="main">
      <div class="row">
        <aside class="span4">

          <time datetime="<%= @post.published_date.to_s[0..9] %>"><i class="icon-calendar"></i> <%= link_to l(@post.published_date), posts_archive_path %></time>
          <% if not from_tableless(@post) and not @post.block_comments %>
          <p><i class="icon-comment"></i> <%= link_to total_comments_in_words(@post.comments.published.length), post_path(@post) + '#comments' %></p>
          <% end %>
          <% unless @post.categories.empty? %>
          <p class="tags"><i class="icon-tags"></i> 
            <% @post.categories.each do |category| %>
            <%= link_to category.name.downcase, posts_category_path(:category => category) %><% if category != @post.categories.last %>,<% end %> 
            <% end %>
          <% end %>
        </p>
        <p><i class="icon-home"></i> <%= link_to "ir para a home", blog_path %></p>
        </aside>
        <div class="span8">
          <%= raw(@post.body) %>
        </div>
      </div>
    </article>
</div>

<% if not @post.block_comments or not @post.comments.published.empty? %>
<section id="comments" class="content">
  <div class="container">
    <% unless @post.comments.published.empty? %>
    <div class="row">
      <header class="span12">
        <h2><%= total_comments_in_words(@post.comments.published.length) %></h2>    
      </header>
    </div>
    <% end %>
    <div class="row" id="comments-list">
    <% unless @post.comments.published.empty? %>
        <% @post.comments.published.each do |comment| %>
          <%= render comment if comment.comment_id.nil? or comment.comment_id == 0 %>
        <% end %>
    <% end %>
    </div>
  </div>
</section>
<% end %>  

<% if not @post.block_comments %>
<section id="comments-form">
  <div class="container">
    <div class="row">
      <header class="span12">
        <h2 id="tit-form-comment"><%= t :leave_your_comment %>:</h2>
      </header>
    </div>
    <div class="row">
      <div class="span8 offset2">
        <%= render "comments/form", :id => "new_comment" %>
      </div>
    </div>
  </div>
</section>
<% end %>