<header><h3>usu치rios</h3></header>
<div class="module_content">
  
<% flash.each do |key, value| %>
  <h4 class="flash <%= key %>"><%= value %></h4>
  <div class="clear" style="margin:0 0 12px 0;"></div>
<% end %>
  
<table class="tablesorter" cellspacing="0"> 
  <thead> 
  <tr> 
      <th></th> 
      <th>E-mail</th> 
      <th>Actions</th> 
  </tr> 
  </thead> 
  <tbody> 

  <% @users.each do |user| %>
    <tr> 
      <td><input type="checkbox"></td> 
      <td><%= user.email %></td> 
      <td>
        <%= link_to image_tag("admin/icn_edit.png", :title => "Editar usu치rio"),  edit_admin_user_path(user) %>
          <%= link_to image_tag("admin/icn_trash.png", :title => "Excluir usu치rio"), admin_user_path(user), 
                                   :method => :delete,
      														 :confirm => "Tem certeza que deseja excluir este usu치rio?",
      												 		 :title => "Excluir #{user.email}" %>
      </td> 
    </tr> 
  <% end %>

</tbody>
</table>
</div>
