<footer>
  <div id="footer-container" class="clearfix">
    <section id="contact">
      <h2>Contato</h2>

      <%= render "contacts/form" %>

    </section>
  
    <section id="social" class="last">
      <h2><a href="#header" class="lnk-top">&uarr; topo</a>Social</h2>
      <ul>
        <li>
          <a href="http://twitter.com/davitferreira" class="twitter-follow-button" data-button="grey" data-text-color="#FFFFFF" data-link-color="#00AEFF" data-lang="pt">Follow @davitferreira</a>
        </li>
        <li>Mais sobre minha vida profissional, visite meu perfil no <%=link_to "Linkedin", "http://br.linkedin.com/in/daviferreira" %>.</li>
        <li>Meus projetos open source estão hospedados no <%=link_to "GitHub", "http://www.github.com/daviferreira" %>.</li>
        <li>Meus links favoritos você encontra no <%= link_to "Delicious", "http://www.delicious.com/daviferreira" %>.</li>
        <li>Alguns trabalhos de criação estão disponíveis no <%= link_to "DeviantArt", "http://daviferreira.deviantart.com" %>.</li>
        <li>E pra conferir as músicas que gosto acesse o meu perfil no <%= link_to "Last.fm", "http://www.last.fm/user/davitf" %>.</li>
        
      </ul>
    </section>
  </div>
</footer>


<script>
$('.pagination a').live('click',function(e){  
  $('<div class="loader clearfix"><img src="/images/loader.gif" width="62" height="13" /></div>').insertAfter('.pagination-container');
  $('.pagination-container').hide();

  var category = $('.pagination-container:last').data('category');
  var tag = $('.pagination-container:last').data('tag');

  var pg = $('span.current:first').text();
  var pg_click = $(this).text();
  var link = this;
  $.getScript(this.href+"&pg_atual="+pg+"&pg_click="+pg_click, function(){
    $('.loader').remove();
    $('.pagination-container').show();
    $('<a href="/?page='+pg+'<% if params[:category] %>&category='+category+'<% end %><% if params[:tag] %>&tag='+tag+'<%end%>" rel="next">'+pg+'</a>').insertAfter('span.current');
    $('span.current').remove();
    $('<span class="current">'+pg_click+'</span>').insertAfter(link);
    $(link).remove();
  });  
  e.preventDefault();
});

var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");

$.getScriptWithCache(gaJsHost + "google-analytics.com/ga.js");
$.getScriptWithCache("http://platform.twitter.com/widgets.js");

try {
var pageTracker = _gat._getTracker("UA-1735379-1");
pageTracker._trackPageview();
} catch(err) {}

</script>
