<footer>
  <div id="footer-container" class="clearfix">
    <section id="contact">
      <h2>Contato</h2>

      <%= render "contacts/form" %>

    </section>
  
    <section id="social" class="last">
      <h2><a href="#header" class="lnk-top">&uarr; topo</a>Social</h2>
      <ul>
        <li>
          <a href="http://twitter.com/davitferreira" class="twitter-follow-button" data-button="grey" data-text-color="#FFFFFF" data-link-color="#00AEFF" data-lang="pt">Follow @davitferreira</a>
          <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
        </li>
        <li>Mais sobre minha vida profissional, visite meu perfil no <%=link_to "Linkedin", "http://br.linkedin.com/in/daviferreira" %>.</li>
        <li>Meus projetos open source estão hospedados no <%=link_to "GitHub", "http://www.github.com/daviferreira" %>.</li>
        <li>Meus links favoritos você encontra no <%= link_to "Delicious", "http://www.delicious.com/daviferreira" %>.</li>
        <li>Alguns trabalhos de criação estão disponíveis no <%= link_to "DeviantArt", "http://daviferreira.deviantart.com" %>.</li>
        <li>E pra conferir as músicas que gosto acesse o meu perfil no <%= link_to "Last.fm", "http://www.last.fm/user/davitf" %>.</li>
        
      </ul>
    </section>
  </div>
</footer>


<script>$(".pagination a").live("click",function(a){$('<div class="loader clearfix"><img src="/images/loader.gif" width="62" height="13" /></div>').insertAfter(".pagination-container");$(".pagination-container").hide();var b=$(".pagination-container:last").data("category");var c=$(".pagination-container:last").data("tag");var d=$("span.current:first").text();var e=$(this).text();var f=this;$.getScript(this.href+"&pg_atual="+d+"&pg_click="+e,function(){$(".loader").remove();$(".pagination-container").show();$('<a href="/?page='+d+"<% if params[:category] %>&category="+b+"<% end %><% if params[:tag] %>&tag="+c+'<%end%>" rel="next">'+d+"</a>").insertAfter("span.current");$("span.current").remove();$('<span class="current">'+e+"</span>").insertAfter(f);$(f).remove()});a.preventDefault()});var gaJsHost="https:"==document.location.protocol?"https://ssl.":"http://www.";document.write(unescape("%3Cscript src='"+gaJsHost+"google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));try{var pageTracker=_gat._getTracker("UA-1735379-1");pageTracker._trackPageview()}catch(err){}</script>