<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Admin</title>
  <%= javascript_include_tag :all, :recursive => true %>
  <%= stylesheet_link_tag "admin/layout.css" %>
  <%= csrf_meta_tag %>
</head>
<body>

  	<!-- header id="header">
  		<hgroup>
  			<h1 class="site_title"><a href="index.html">DaviFerreira.com</a></h1>
  			<% if user_signed_in? %><h2 class="section_title">Dashboard</h2><div class="btn_view_site"><%= link_to "Visitar o site", root_path, :rel => "external" %></div><% end %>
  		</hgroup>
  	</header --> <!-- end of header bar -->

    <% if user_signed_in? %>
  	<section id="secondary_bar">
  		<div class="user">
  			<p><%= link_to "DaviFerreira.com", admin_root_path %></p>
  			<%= link_to "Logout", destroy_user_session_path, :class => "logout_user" %>
  			<!-- <a class="logout_user" href="#" title="Logout">Logout</a> -->
  		</div>
  		<div class="breadcrumbs_container">
  			<article class="breadcrumbs"><%= link_to "Admin", admin_root_path %> <div class="breadcrumb_divider"></div> <a class="current">Dashboard</a></article>
  		</div>
  	</section><!-- end of secondary bar -->

  	<aside id="sidebar" class="column">
  		<form class="quick_search">
  			<input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
  		</form>
  		<hr/>
  		<h3>Categorias</h3>
  		<ul class="toggle">
  			<li class="icn_new_article"><%= link_to "Nova categoria", new_admin_category_path %></li>
  			<li class="icn_edit_article"><%= link_to "Editar categorias", admin_categories_path %></li>
  		</ul>
  		<h3>Projetos</h3>
  		<ul class="toggle">
  			<li class="icn_new_article"><%= link_to "Novo projeto", new_admin_project_path %></li>
  			<li class="icn_edit_article"><%= link_to "Editar projetos", admin_projects_path %></li>
  		</ul>
  		<h3>Screenshots</h3>
  		<ul class="toggle">
  			<li class="icn_new_article"><%= link_to "Novo screenshot", new_admin_photo_path %></li>
  			<li class="icn_edit_article"><%= link_to "Editar screenshots", admin_photos_path %></li>
  		</ul>
  		<h3>Posts</h3>
  		<ul class="toggle">
        <li class="icn_new_article"><%= link_to "Novo post", new_admin_post_path %></li>
        <li class="icn_edit_article"><%= link_to "Editar posts", admin_posts_path %></li>
        <li class="icn_categories"><%= link_to "Coment치rios", admin_comments_path %></li>
  		</ul>
  		<h3>Usu치rios</h3>
  		<ul class="toggle">
        <li class="icn_add_user"><%= link_to "Novo usu치rio", new_admin_user_path %></li>
        <li class="icn_view_users"><%= link_to "Editar usu치rios", admin_users_path %><!-- a href="#">View Users</a --></li>
        <li class="icn_profile"><%= link_to "Sua conta", edit_admin_user_path(current_user) %></li>
  		</ul>
  		<h3>Admin</h3>
  		<ul class="toggle">
  			<li class="icn_jump_back"><%= link_to "Logout", destroy_user_session_path %></li>
  		</ul>

  		<!-- footer>
  			<hr />
  			<p><strong>Copyright &copy; 2011 DaviFerreira.com</strong></p>
  			<p>Theme by <a href="http://www.medialoot.com">MediaLoot</a></p>
  		</footer -->
  	</aside><!-- end of sidebar -->
  	<% end %>

  	<section id="main" class="column">


      <article class="module width_full">


  	    <%= yield %>

      </article><!-- end of styles article -->
      <div class="spacer"></div>

  	</section>

    	<script type="text/javascript">
    	$(document).ready(function() 
        	{ 
          	  $(".tablesorter").tablesorter(); 
       	 } 
    	);
    	$(document).ready(function() {

    	//When page loads...
    	$(".tab_content").hide(); //Hide all content
    	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
    	$(".tab_content:first").show(); //Show first tab content

    	//On Click Event
    	$("ul.tabs li").click(function() {

    		$("ul.tabs li").removeClass("active"); //Remove any "active" class
    		$(this).addClass("active"); //Add "active" class to selected tab
    		$(".tab_content").hide(); //Hide all tab content

    		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
    		$(activeTab).fadeIn(); //Fade in the active ID content
    		return false;
    	});

    });
        </script>
        <script type="text/javascript">
        $(function(){
            $('.column').equalHeight();
        });
    </script>


</body>
</html>
