<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= meta_title %></title>
  <meta description="<%= meta_description %>">
  <%= javascript_include_tag :all %>
  <%= javascript_include_tag "fancybox/jquery.easing-1.3.pack" %>
  <%= javascript_include_tag "fancybox/jquery.mousewheel-3.0.4.pack" %>
  <%= javascript_include_tag "fancybox/jquery.fancybox-1.3.4.pack" %>
  
  <%= stylesheet_link_tag "daviferreira.css" %>
  <%= stylesheet_link_tag "msgtopo.css" %>
  
  <%= stylesheet_link_tag "portfolio.css" %>
  <%= stylesheet_link_tag "/javascripts/fancybox/jquery.fancybox-1.3.4.css" %>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="/images/favicon.gif" />
</head>
<body>

  <%= render "layouts/header" %>
  <%= render "layouts/menu" if home_page? %>

  <section id="main">
    <%= yield %>
  </section>
  
  <%= render "posts/posts_portfolio" if home_page? %>
  <%= render "layouts/footer" %>

</body>
</html>
