<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html class="">
<head>
  <meta charset="utf-8" />
  <title><%= meta_title %></title>
  <meta description="<%= meta_description %>">
  <%= include_stylesheets :common, :portfolio, :media => 'all' %>
  <%= include_javascripts :common, :portfolio %>

  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="/images/favicon.gif" />
</head>
<body>

  <%= render "layouts/header" %>
  <%= render "layouts/menu" if home_page? %>

  <section id="main">
    <%= yield %>
  </section>
  
  <%= render "posts/posts_portfolio" if home_page? %>
  <%= render "layouts/footer" %>

</body>
</html>
