<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="/images/favicon.gif" />
</head>
<body>

  <header>
    <div id="search">
      <form action="<%= projects_path %>" method="GET" id="frm-search">
        <input type="text" name="search" id="fld-search" placeholder="Pesquisar..." autocomplete="off" /><input type="submit" value="OK" id="btn-search" />
        <div id="live-search" class="shadow round-small"><ul></ul></div>
      </form>
    </div>
    <h1 id="header"><%= link_to "Davi Ferreira", root_path %></h1>
    <h2><small>Nem ninja, nem rockstar.</small> Programador.</h2>
  </header>

  <%= render "layouts/menu" if home_page %>

  <section id="main">
    <%= yield %>
  </section>

  <%= render "posts/posts_portfolio" if home_page %>
  
  <footer>
    <div id="footer-container" class="clearfix">
      <section id="contact">
        <h2>Contato</h2>

        <%= render "contacts/form" %>

      </section>
    
      <section id="social" class="last">
        <h2><a href="#header" class="lnk-top">&uarr; topo</a>Social</h2>
        <ul>
          <li>
            <a href="http://twitter.com/davitferreira" class="twitter-follow-button" data-button="grey" data-text-color="#FFFFFF" data-link-color="#00AEFF">Follow @davitferreira</a>
            <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
          </li>
          <li>Mais sobre minha vida profissional, visite meu perfil no <%=link_to "Linkedin", "http://br.linkedin.com/in/daviferreira", :rel => "external" %>.</li>
          <li>Meus projetos open source estão hospedados no <%=link_to "GitHub", "http://www.github.com/daviferreira", :rel => "external" %>.</li>
          <li>Meus links favoritos você encontra no <%= link_to "Delicious", "http://www.delicious.com/daviferreira", :rel => "external" %>.</li>
          <li>Alguns trabalhos de criação estão disponíveis no <%= link_to "DeviantArt", "http://daviferreira.deviantart.com", :rel => "external" %>.</li>
          <li>E pra conferir as músicas que gosto acesse o meu perfil no <%= link_to "Last.fm", "http://www.last.fm/user/davitf", :rel => "external" %>.</li>
          
        </ul>
      </section>
    </div>
  </footer>

</body>
</html>
