<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title><%= meta_title %></title>
  <meta description="<%= meta_description %>">

  <% if blog_home_page? %>
    <%= include_javascripts :blog%>
  <% else %>
    <%= include_javascripts :post %>
  <% end %>

  <% if blog_home_page? %>
    <%= include_stylesheets :blog, :media => 'all' %>
  <% else %>
    <%= include_stylesheets :post, :media => 'all' %>
  <% end %>

  <%= auto_discovery_link_tag(:atom, {:controller => "posts", :action => "feed"}) %>

  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="/images/favicon.gif">
</head>
<body>

  <%= render "posts/navigation" if not blog_home_page? and (@post.previous_post or @post.next_post) %>

  <div id="blog-container">
	  <%= render "layouts/header_blog" %>

	  <%= yield %>
  
	  <%= render "layouts/footer_blog" %>
  </div>

</body>
</html>
