<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title><%= meta_title %></title>
  <meta name="description" content="<%= meta_description %>">

  <% if blog_home_page? %>
    <%= include_javascripts :blog%>
  <% else %>
    <%= include_javascripts :post %>
  <% end %>

  <% if blog_home_page? %>
    <%= include_stylesheets :blog, :media => 'all' %>
  <% else %>
    <%= include_stylesheets :post, :media => 'all' %>
  <% end %>

  <%= auto_discovery_link_tag(:atom, {:controller => "posts", :action => "feed"}) %>

  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="/images/favicon.ico" />
</head>
<body>

  <%= render "layouts/header_blog" %>

  <section id="blog">
    <%= yield %>
  </section>

  <%= render "layouts/footer_blog" %>

</body>
</html>
