<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= meta_title %></title>
  <meta description="<%= meta_description %>">

  <% if blog_home_page? %>
    <%= include_javascripts :common %>
  <% else %>
    <%= include_javascripts :common, :post %>
  <% end %>

  <% if blog_home_page? %>
    <%= include_stylesheets :common, :blog, :media => 'all' %>
  <% else %>
    <%= include_stylesheets :common, :blog, :post, :media => 'all' %>
  <% end %>

  <%= auto_discovery_link_tag(:atom, {:controller => "posts", :action => "feed"}) %>

  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="/images/favicon.gif" />
</head>
<body class="blog <% if not blog_home_page? %>post<%end%>">

  <%= render "layouts/header_blog" %>

  <section id="main">
    <%= yield %>
  </section>
  
  <%= render "layouts/footer_blog" %>

</body>
</html>
