<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s.downcase %>">
<head>
  <meta charset="utf-8">
  <title><%= meta_title %></title>
  <meta name="description" content="<%= meta_description %>">

  <% if blog_home_page? %>
    <%= include_stylesheets :blog, :media => 'all' %>
  <% else %>
    <%= include_stylesheets :post, :media => 'all' %>
  <% end %>

  <%= auto_discovery_link_tag(:atom, {:controller => "posts", :action => "feed"}) %>

  <%= csrf_meta_tag %>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1735379-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <link rel="shortcut icon" href="/images/favicon.gif">
</head>
<body>

	<%= yield %>
  

  <% if blog_home_page? %>
    <%= include_javascripts :blog %>
  <% else %>
    <%= include_javascripts :post %>
  <% end %>

</body>
</html>
